<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>

    <bindings>

      <basicHttpBinding>
        <binding name="BasicHttpBinding_ICalcService" />
      </basicHttpBinding>

      <netTcpBinding>
        <binding name="NetTcpBinding_ICalcService" />

      </netTcpBinding>
    </bindings>

    <client>
      <endpoint name="BasicHttpBinding_ICalcService"
                address="http://localhost:9001/CalcService"
                binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_ICalcService"
                contract="ICalcService">
      </endpoint>
      <endpoint address="net.tcp://localhost:9002/CalcService"
                binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_ICalcService" contract="ICalcService"
                name="NetTcpBinding_ICalcService">
        <identity>
          <servicePrincipalName value="Honda/johary" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>